.center {
	margin-left: auto;
	margin-right: auto;
}

.table {
	width: auto;
}

.margin-top-30 {
	margin-top: 30px;
}
.margin-top-10 {
	margin-top: 10px;
}
.padding-left-10 {
	padding-left: 10px;
}

.border-10 {
	border-spacing: 10px;
	border-collapse: initial !important;
}